.desktop {
    position: absolute;
    top:0;
    height: 80%;
    width: 100%;
    border: 4px solid black;
}

.c_textarea {
    overflow:auto;
    width: 100%;
    white-space: pre;
    bottom:60px;
    position: absolute;
    top:20px;
}

.content {
    overflow:auto;
    text-overflow: clip;
    width:100%;
    position: absolute;
    bottom:60px;
    top:100px;
    white-space: pre-wrap;
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 3;
    -webkit-hyphenate-limit-chars: 6 3 3;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-zone: 8%;

    -moz-hyphens: auto;
    -moz-hyphenate-limit-chars: 6 3 3;
    -moz-hyphenate-limit-lines: 2;
    -moz-hyphenate-limit-last: always;
    -moz-hyphenate-limit-zone: 8%;

    -ms-hyphens: auto;
    -ms-hyphenate-limit-chars: 6 3 3;
    -ms-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-zone: 8%;

    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
}

.menu {
    position: absolute;
    bottom:10px;
}